.sliderContainer {
  position: relative;
  width: 100%;
}

.sliderImg {
  object-fit: cover;
  width: 100%;
  height: 600px;
  transition: opacity 0.8s ease-in-out;
}

.navBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    font-size: 24px;
    opacity: 50%;
    cursor: pointer;
}

.prevSlide {
    left: 15px;
}

.nextSlide {
    right: 15px;
}