@import '/src/component/BasePage/BasePage.module.scss';

.headerWrapper {
  @extend .container;
  @include flex-content(space-between, center);
  min-width: 100%;
  background-color: rgb(19, 45, 61);
}

.headerWrapperLogo {
  width: 85px;
  object-fit: cover;
  cursor: pointer;
}

.navMenu {
  flex: 1;
}

.ulList {
  @include flex-content(flex-start, center);
  gap: 24px;
  margin-left: 24px ;
}

.searchInput {
  padding: 10px;
  border-radius: 1px;
  border: none;
  outline: none;
}

.searchBar {
  border: 3px solid rgb(49, 120, 228);
  border-radius: 8px;
  margin-right: 24px;
}

.searchButton {
  background-color: rgb(49, 120, 228);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.navLinkElement {
  font-size: 24px;
  color: white;
}